{% extends 'base.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}
{% block stylesheets %}
   <link href="{{ asset('styles/main.css') }}" rel="stylesheet" type="text/css" />
    {{ importmap('app') }}
{% endblock %}
{% block body %}
    <h1>Nouveau pays</h1>

    {{ form(countryForm) }}
{% endblock %}